@use "../abstracts";

// Hero
.hero__about {
    margin: 260px 0 100px;

    @include abstracts.screen(lg) {
        margin: 200px 0 100px;

    }

    &--blockList {
        display: flex;
        align-items: stretch;
        gap: 10px;
        &__item {
            flex: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            border-radius: 8px;

            &--mini {
                display: inline-block;
                border-radius: 8px;
                background: var(--button-bg);
            }

            &--big {
                padding: 50px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--button-bg);
            }

            &--logo {
                width: 300px;
                height: 300px;

                @include abstracts.screen(xl) {
                    width: 200px;
                    height: 200px;
                }

                @include abstracts.screen(lg) {
                    width: 150px;
                    height: 150px;
                }

                @include abstracts.screen(md) {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

// Welcome
.welcome {
    padding: 80px;
    background: var(--hero-bg);

    &__title--desc {
        max-width: initial;
        white-space: pre-line;
    }
}

// Story
.story {
    margin: 100px 0;

    &__table {
        background: var(--card-bg);

        &--media {
            width: 100%;
            object-fit: cover;
        }

        &--content {
            padding: 0 60px;
            display: inline-flex;
            text-align: left;
            flex-direction: column;
            justify-content: center;

            &__left {
                text-align: right;
            }

            &__heading {
                display: inline-block;
                border-bottom: 3px solid (--Green-70, #cbea7b);
                padding-bottom: 5px;
            }
        }
    }
}

// Achievements
.achivement {
    margin-bottom: 100px;
}
