.team {
    margin-bottom: 100px;

    &__member {
        position: relative;
        &--img {
            width: 100%;
        }

        &--intro {
            position: absolute;
            left: 0;
            bottom: -30px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 80%;
            border-radius: 0px 20px 0px 0px;
            background: var(--card-bg);

            &__name {
                color: var(--button-color);
                font-size: 2rem;
                font-weight: 600;
                line-height: 28px; /* 140% */
            }

            &__desc {
                color: var(--desc-color);
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 24px; /* 150% */
            }
        }
    }
}
