/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: Urbanist, sans-serif;
  background: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

.heading {
  color: var(--heading-color);
  line-height: 150%;
}
.heading__primary {
  font-size: 3.8rem;
  font-weight: 700;
}
.heading__secondary {
  font-size: 2rem;
  font-weight: 600;
}

.hero__heading {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 150%;
}

.desc__primary {
  display: inline-block;
  max-width: 780px;
  margin-top: 24px;
  color: var(--desc-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.desc__secondary {
  color: var(--button-color);
  line-height: 150%; /* 24px */
}

.pricing__choice--toggle {
  all: unset;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes shake {
  0%, 100% {
    translate: 0;
  }
  25%, 75% {
    translate: 4px;
  }
  50% {
    translate: -4px;
  }
}
html {
  --body-bg: #fafdf2;
  --banner-bg: #1a3129;
  --banner-inner-bg: #234338;
  --choice-btn-bg: #234338;
  --hero-bg: #f6fbe9;
  --card-bg: #f6fbe9;
  --border-card-color: #e5f5bd;
  --button-bg: #cbea7b;
  --hover-card-bg: #9ca389;
  --heading-color: #1a3129;
  --desc-color: #333;
  --desc-banner-color: #fafdf2;
  --button-color: #262626;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--banner-bg);
}
.header__top {
  padding: 14px 0;
}
.header__top--link {
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid var(--border-card-color);
  background: var(--banner-inner-bg);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.header__top--link::before {
  content: url(../../assets/icon/lapter.svg);
  display: inline-block;
  position: absolute;
  left: -40px;
}
@media (max-width: 767.98px) {
  .header__top--link::before {
    left: -100px;
    bottom: -5px;
    transform: rotate(-30deg);
    z-index: -1;
  }
}
.header__top--link::after {
  content: url(../../assets/icon/lapter.svg);
  transform: scaleX(-1);
  display: inline-block;
  position: absolute;
  right: -40px;
}
@media (max-width: 767.98px) {
  .header__top--link::after {
    right: -100px;
    bottom: -5px;
    transform: rotate(30deg);
    z-index: -1;
  }
}
.header__top--icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.header__top--title {
  color: var(--desc-banner-color);
  font-size: 1.8rem;
  font-weight: 500;
}
.header__top--arrow {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.header__down {
  padding: 16px 0;
  border-top: 2px solid var(--banner-inner-bg);
}
.header__down--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__down--label {
  display: none;
}
.header__down--menu {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header__down--menu:hover {
  background: var(--button-bg);
  border-radius: 40%;
}
@media (max-width: 767.98px) {
  .header__down--menu {
    display: initial !important;
  }
}
.header__down--overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.header__down--menu__drawer {
  position: fixed;
  inset: 0 0 0 60%;
  background: #1a3129;
  z-index: 2;
  padding: 60px;
  transform: translateX(100%);
  transition: 0.5s ease;
}
.header__down--checkbox:checked ~ .header__down--overlay {
  opacity: 1;
  visibility: visible;
}
.header__down--checkbox:checked ~ .header__down--menu__drawer {
  transform: translateX(0);
}

.hero__sub {
  margin: 225px 0 100px;
}
.hero__sub--content {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid var(--border-card-color);
  background: var(--hero-bg);
}
.hero__sub--content__icon {
  margin-bottom: 60px;
  padding: 14px;
  border-radius: 10px;
  border: 4px solid var(--body-bg);
  background: var(--button-bg);
}
.hero__sub--content__icon--img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.hero__sub--content__desc {
  max-width: initial;
}
.hero__sub--list {
  display: flex;
  gap: 10px;
  padding: 24px 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 10px 10px;
  background: var(--choice-btn-bg);
}
@media (max-width: 991.98px) {
  .hero__sub--list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero__sub--item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 18px;
  color: var(--desc-banner-color);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
}
.hero__sub--item:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background: var(--banner-bg);
  cursor: pointer;
}

.section__title {
  text-align: center;
  margin-bottom: 80px;
}

.joinus {
  margin-bottom: 100px;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-card-color);
  background: var(--card-bg);
}
@media (max-width: 991.98px) {
  .joinus {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .joinus__content {
    margin-bottom: 10px;
    text-align: center;
  }
}
.joinus__heading {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 150%;
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.form__row--group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__row--label {
  color: #4c4c4c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.form__row--input {
  padding: 20px;
  margin-bottom: 20px;
  width: inherit;
  border-radius: 6px;
  border: 1px solid var(--border-card-color);
  background: var(--border-card-color);
  color: var(--desc-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  resize: none;
}
.form__row--limit {
  margin-left: auto;
}
.form__btn {
  margin-top: 40px;
  width: 100%;
}

.footer {
  padding: 40px 0;
  background: var(--banner-bg);
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__top {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__top--toTop {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer__top--toTop__desc {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
}
.footer__top--toTop__arrow {
  padding: 12px;
  border-radius: 73px;
  background: var(--banner-inner-bg);
}
@media (max-width: 767.98px) {
  .footer__navbar .navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}
.footer__down {
  margin-top: 40px;
  padding: 14px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--heading-color);
  background: var(--banner-inner-bg);
  border-radius: 8px;
}
@media (max-width: 1199.98px) {
  .footer__down {
    gap: 10px;
    flex-direction: column;
  }
}
.footer__down--info {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 1199.98px) {
  .footer__down--info {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.footer__down--info__item {
  padding: 12px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--border-card-color);
}
.footer__down--info__item--icon {
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.footer__down--info__item--contact {
  color: var(--desc-banner-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
}
.footer__down--nocopy {
  color: var(--desc-banner-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1199.98px) {
  .footer__down--nocopy {
    text-align: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo__icon {
  width: 34px;
  height: 34px;
  object-fit: contain;
  flex-shrink: 0;
}
.logo__brand {
  font-size: 2em;
  color: var(--body-bg);
  font-weight: 600;
  opacity: 0.9;
}
@media (max-width: 767.98px) {
  .logo__brand {
    font-size: 1.5em;
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .navbar {
    display: none;
    padding: 50px 100px;
    background: #234338;
  }
}
.navbar__logo {
  display: none;
}
@media (max-width: 767.98px) {
  .navbar__logo {
    display: initial;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .navbar__list {
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  }
}
.navbar__item--link {
  padding: 5px 10px;
  color: var(--desc-banner-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 767.98px) {
  .navbar__item--link {
    font-size: 1.8rem;
  }
}
.navbar__item:hover .navbar__item--link {
  color: var(--button-bg);
}

.header__down--menu__drawer .navbar {
  padding: 0;
  margin-top: 10px;
  flex-direction: column;
  display: flex;
  background: #1a3129;
}

.btn__primary {
  padding: 12px 16px;
  border-radius: 6px;
  background: var(--button-bg);
  color: var(--button-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
}
.btn__primary:hover {
  opacity: 0.6;
  transition: 0.25s;
}

.card__primary {
  position: relative;
  padding: 40px 40px;
  border-radius: 12px;
  border: 1px solid var(--border-card-color);
  background: var(--card-bg);
}
.card__primary--content {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.card__primary--content__icon {
  padding: 14px;
  display: inline-block;
  background: var(--button-bg);
  border-radius: 8px;
}
.card__primary--content__icon--img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.card__primary--bigNum {
  position: absolute;
  left: 0;
  top: -130px;
  z-index: -1;
  color: var(--banner-bg);
  font-size: 15rem;
  font-weight: 700;
  line-height: 150%;
}

.card__secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--border-card-color);
  background: var(--card-bg);
}
.card__secondary--media {
  width: 100%;
  object-fit: cover;
}
.card__secondary--label {
  display: inline-block;
  margin: 40px 0 3px 0;
  color: var(--desc-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.card__secondary--user {
  display: flex;
  margin-top: 16px;
  padding: 16px 14px 16px 16px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--card-bg);
  background: var(--body-bg);
}
.card__secondary--user__info {
  display: flex;
  flex-direction: column;
}
.card__secondary--user__img {
  margin-right: 14px;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
  fill: #fff;
  stroke: #000;
}
.card__secondary--user__name {
  margin-bottom: -50px;
  color: var(--heading-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.card__secondary--user__desc {
  margin-top: -3px;
}
.card__secondary--user__action {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.card__secondary--user__icon {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid var(--border-card-color);
  background: var(--card-bg);
  cursor: pointer;
}
.card__secondary--user__icon--img {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.card__secondary--user__icon:hover .card__secondary--user__icon--img {
  opacity: 0.8;
}

.card__third {
  border-radius: 16px;
  border: 1px solid var(--Green-90, #eef8d3);
}
.card__third--content {
  padding: 30px;
}
.card__third--content__icon {
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.card__third--user {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  background: var(--card-bg);
}
.card__third--user__img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}
.card__third--user__name {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.pricing__choice {
  text-align: center;
}
.pricing__choice--desc {
  margin: 14px 0 60px;
  display: block;
  color: #4c4c4d;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.pricing__switch--label {
  position: relative;
  padding: 0 34px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #dcf1a7;
  background: #fafdf2;
  width: 240px;
  height: 70px;
  user-select: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.pricing__switch--label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 110px;
  height: 75%;
  background: #234338;
  border-radius: inherit;
  transition: transform 0.3s ease;
}
.pricing__switch--label__value {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 150%;
  transition: color 0.3s ease;
}
.pricing__switch--input:checked + .pricing__switch--label::before {
  width: 110px;
  left: auto;
  right: 10px;
}
.pricing__switch--input:not(:checked) + .pricing__switch--label .pricing__switch--label__value:nth-of-type(2), .pricing__switch--input:checked + .pricing__switch--label .pricing__switch--label__value:nth-of-type(1) {
  color: #4c4c4c;
}
.pricing--checkbox {
  display: inline-flex;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border-card-color);
}

.pricing__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  border-radius: 12px;
  border: 1px solid var(--border-card-color);
  background: var(--card-bg);
  transition: 0.75s ease;
}
.pricing__item--check {
  background: #BCDCD1;
}
.pricing__item--check:hover {
  background: #79B9A4;
}
.pricing__item--textContanier {
  margin: 30px 0;
  border-radius: 8px;
  border: 1px solid var(--Green-85, #e5f5bd);
  background: var(--Green-90, #eef8d3);
}
.pricing__item--textContanier .pricing__item--desc:not(:first-child) {
  border-top: 1px solid var(--Green-80, #dcf1a7);
}
.pricing__item--textContanier .pricing__item--desc {
  margin-bottom: initial;
  padding: 20px 24px;
}
.pricing__item:hover {
  transform: translateY(-8%);
  background: var(--hover-card-bg);
  cursor: pointer;
}
.pricing__item--heading {
  margin-bottom: -15px;
}
.pricing__item--desc {
  margin-bottom: 30px;
}
.pricing__item--listPrice {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.pricing__item--price {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
}
.pricing__item--price__sale {
  color: var(--banner-inner-bg);
  font-size: 3rem;
  font-weight: 700;
  line-height: 87.523%;
}
.pricing__item--price__hidden {
  display: none;
  text-decoration: none !important;
}
.pricing__item--warning {
  margin-bottom: 30px;
  padding: 20px 24px;
  color: var(--desc-banner-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%; /* 27px */
  border-radius: 8px;
  background: var(--banner-inner-bg);
}
.pricing__item--btn {
  display: block;
  text-align: center;
}

.comnpare {
  margin-bottom: 100px;
  padding: 50px;
  background: var(--card-bg);
  border: 1px solid var(--border-card-color);
  border-radius: 12px;
}
.comnpare__row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
}
.comnpare__title {
  margin-right: 30px;
  padding: 16px 24px;
  display: inline-block;
  color: var(--desc-banner-color);
  background: var(--banner-inner-bg);
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%; /* 30px */
  border-radius: 8px;
}
.comnpare__title:not(:first-child) {
  margin-left: 30px;
}
.comnpare__content {
  padding: 0 24px;
  color: var(--button-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 154%; /* 27.72px */
}
.comnpare__tick {
  display: inline-block;
  padding: 6px;
  background: var(--button-bg);
  border-radius: 6px;
}

.hero__main {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
@media (max-width: 767.98px) {
  .hero__main {
    display: flex;
    flex-direction: column;
  }
}
.hero__main--media {
  display: inline-block;
}
.hero__main--media__img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  flex-shrink: 0;
}
.hero__main--content {
  margin-top: 128px;
  margin-right: 20px;
  max-width: 610px;
}
@media (max-width: 767.98px) {
  .hero__main--content {
    padding: 0 100px;
    margin-top: 0;
    margin-right: 0;
    max-width: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
.hero__main--content__title {
  margin-bottom: 55px;
  position: relative;
  color: var(--banner-bg);
  font-size: 2.2rem;
  font-weight: 600;
}
.hero__main--content__title::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  display: inline;
  width: 300px;
  height: 4px;
  background: var(--button-bg);
}
.hero__main--content__listButton {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.hero__main--content__btn {
  border: 1px solid var(--border-card-color) !important;
  background: var(--card-bg) !important;
}
.hero__main--content__cta {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.hero__main--content__cta--list {
  padding: 6px 8px;
  border-radius: 58px;
  border: 1px solid var(--button-bg);
}
.hero__main--content__cta--list__user {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.hero__main--content__cta--list__user:not(:first-child) {
  margin-left: -15px;
}
.hero__main--content__cta--desc {
  color: #234338;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 150%;
}
.hero__main--content__cta--descNumber {
  color: #468671;
}

.features {
  padding: 100px 0;
}

.blog {
  padding-bottom: 100px;
}

.testimonial {
  padding-bottom: 100px;
}
.testimonial__arrow {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial__arrow--inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.testimonial__arrow--icon {
  border-radius: 6px;
  background: var(--card-bg);
  cursor: pointer;
}
.testimonial__arrow--dots {
  display: flex;
  align-items: center;
  gap: 4px;
}

.pricing {
  margin-bottom: 100px;
}

.hero__about {
  margin: 260px 0 100px;
}
@media (max-width: 991.98px) {
  .hero__about {
    margin: 200px 0 100px;
  }
}
.hero__about--blockList {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.hero__about--blockList__item {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 8px;
}
.hero__about--blockList__item--mini {
  display: inline-block;
  border-radius: 8px;
  background: var(--button-bg);
}
.hero__about--blockList__item--big {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-bg);
}
.hero__about--blockList__item--logo {
  width: 300px;
  height: 300px;
}
@media (max-width: 1199.98px) {
  .hero__about--blockList__item--logo {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 991.98px) {
  .hero__about--blockList__item--logo {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 767.98px) {
  .hero__about--blockList__item--logo {
    width: 100px;
    height: 100px;
  }
}

.welcome {
  padding: 80px;
  background: var(--hero-bg);
}
.welcome__title--desc {
  max-width: initial;
  white-space: pre-line;
}

.story {
  margin: 100px 0;
}
.story__table {
  background: var(--card-bg);
}
.story__table--media {
  width: 100%;
  object-fit: cover;
}
.story__table--content {
  padding: 0 60px;
  display: inline-flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}
.story__table--content__left {
  text-align: right;
}
.story__table--content__heading {
  display: inline-block;
  border-bottom: 3px solid --Green-70, #cbea7b;
  padding-bottom: 5px;
}

.achivement {
  margin-bottom: 100px;
}

.team {
  margin-bottom: 100px;
}
.team__member {
  position: relative;
}
.team__member--img {
  width: 100%;
}
.team__member--intro {
  position: absolute;
  left: 0;
  bottom: -30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  border-radius: 0px 20px 0px 0px;
  background: var(--card-bg);
}
.team__member--intro__name {
  color: var(--button-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.team__member--intro__desc {
  color: var(--desc-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.hiw {
  margin: 200px 0 150px;
}
.hiw__list {
  margin-top: 150px;
}

.blogDown {
  margin-bottom: 100px;
}
.blogDown__card {
  padding: 40px 40px 24px 40px;
  border: 1px solid var(--border-card-color);
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blogDown__card--heading {
  margin-bottom: 50px;
  display: inline-block;
  border-bottom: 3px solid var(--Green-70, #cbea7b);
}
.blogDown__card--inerImg {
  width: 100%;
  height: 189px;
}
@media (max-width: 1199.98px) {
  .blogDown__card--inerImg {
    height: 100px;
  }
}
.blogDown__card--img {
  width: 80%;
  height: 189px;
  object-fit: cover;
  float: right;
}
@media (max-width: 1199.98px) {
  .blogDown__card--img {
    width: 250px;
    height: 100px;
    float: center;
  }
}
.blogDown__card--down {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1199.98px) {
  .blogDown__card--down {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}
.blogDown__card--down__content {
  max-width: 425px;
}
@media (max-width: 991.98px) {
  .blogDown__card--down__content {
    text-align: center;
  }
}

.hero__contact {
  padding-right: 105px;
  padding-left: 105px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .hero__contact {
    grid-template-columns: 1fr 1fr;
    padding-right: 50px;
    padding-left: 50px;
    gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .hero__contact {
    grid-template-columns: 1fr;
  }
}
.hero__contact .footer__down--info__item {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.contact {
  padding: 60px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid var(--border-card-color);
  background: var(--card-bg);
  box-shadow: 10px 10px 50px 0px rgba(0, 98, 255, 0.03);
}
@media (max-width: 991.98px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
.contact__address--map {
  width: 100%;
}
.contact__address--map__iframe {
  width: inherit;
}
.contact__address--socials {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .contact__address--socials {
    margin-top: 35px;
    justify-content: center;
  }
}
.contact__address--app {
  padding: 16px;
  border-radius: 6px;
  background: var(--button-bg);
}
.contact__address--app__icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
