html {
    //background
    --body-bg: #fafdf2;
    --banner-bg: #1a3129;
    --banner-inner-bg: #234338;
    --choice-btn-bg: #234338;
    --hero-bg: #f6fbe9;
    --card-bg: #f6fbe9;
    --border-card-color: #e5f5bd;
    --button-bg: #cbea7b;
    --hover-card-bg: #9ca389;

    // color
    --heading-color: #1a3129;
    --desc-color: #333;
    --desc-banner-color: #fafdf2;
    --button-color: #262626;
}
