@use "../abstracts";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--banner-bg);

    &__top {
        padding: 14px 0;

        &--link {
            padding: 10px 0;
            border-radius: 6px;
            border: 1px solid var(--border-card-color);
            background: var(--banner-inner-bg);
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            gap: 14px;

            &::before {
                content: url(../../assets/icon/lapter.svg);
                display: inline-block;
                position: absolute;
                left: -40px;
                @include abstracts.screen(md) {
                    left: -100px;
                    bottom: -5px;
                    transform: rotate(-30deg);
                    z-index: -1;
                }
            }

            &::after {
                content: url(../../assets/icon/lapter.svg);
                transform: scaleX(-1); // Lật ảnh lại
                display: inline-block;
                position: absolute;
                right: -40px;
                @include abstracts.screen(md) {
                    right: -100px;
                    bottom: -5px;
                    transform: rotate(30deg);
                    z-index: -1;
                }
            }
        }

        &--icon {
            width: 20px;
            height: 20px;
            object-fit: contain;
        }

        &--title {
            color: var(--desc-banner-color);
            font-size: 1.8rem;
            font-weight: 500;
        }

        &--arrow {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    &__down {
        padding: 16px 0;
        border-top: 2px solid var(--banner-inner-bg);

        &--inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        &--label{
            display: none;
        }
        &--menu {
            display: none;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &:hover {
                background: var(--button-bg);
                border-radius: 40%;
            }
            @include abstracts.screen(md) {
                display: initial !important;
            }
        }

        &--overlay {
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.3);
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s ease;
        }

        &--menu__drawer {
            position: fixed;
            inset: 0 0 0 60%;
            background: #1a3129;
            z-index: 2;
            padding: 60px;
            transform: translateX(100%);
            transition: 0.5s ease;
        }

         

        &--checkbox:checked ~ &--overlay {
            opacity: 1;
            visibility: visible;
        }

        &--checkbox:checked ~ &--menu__drawer {
            transform: translateX(0);

        }
    }
}
