@use "../abstracts";
.joinus {
    margin-bottom: 100px;
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-card-color);
    background: var(--card-bg);

    @include abstracts.screen(lg) {
        flex-direction: column;
    }

    &__content{
        @include abstracts.screen(lg) {
            margin-bottom: 10px;
            text-align: center;
        }
    }

    &__heading {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 150%;
    }
}
