.card__secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid var(--border-card-color);
    background: var(--card-bg);

    &--media {
        width: 100%;
        object-fit: cover;
    }

    &--label {
        display: inline-block;
        margin: 40px 0 3px 0;
        color: var(--desc-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &--user {
        display: flex;
        margin-top: 16px;
        padding: 16px 14px 16px 16px;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--card-bg);
        background: var(--body-bg);

        &__info{
            display: flex;
            flex-direction: column;
        }
        &__img {
            margin-right: 14px;
            width: 50px;
            height: 50px;
            border-radius: 6px;
            object-fit: cover;
            fill: #fff;
            stroke: #000;
        }

        &__name {
            margin-bottom: -50px;
            color: var(--heading-color);
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 150%; /* 27px */
        }

        &__desc {
            margin-top: -3px;
        }

        &__action {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &__icon {
            padding: 14px;
            border-radius: 6px;
            border: 1px solid var(--border-card-color);
            background: var(--card-bg);
            cursor: pointer;

            &--img {
                width: 20px;
                height: 20px;
                fill: #fff;
            }

            &:hover &--img {
                opacity: 0.8;
            }
        }
    }
}
