.card__third {
    border-radius: 16px;
    border: 1px solid var(--Green-90, #eef8d3);

    &--content {
        padding: 30px;

        &__icon {
            width: 34px;
            height: 34px;
            object-fit: cover;
        }
    }

    &--user {
        display: flex;
        padding: 20px 30px;
        align-items: center;
        gap: 10px;
        background: var(--card-bg);

        &__img {
            width: 50px;
            height: 50px;
            border-radius: 6px;
            object-fit: cover;
        }
        &__name {
            color: var(--heading-color);
            font-size: 16px;
            font-weight: 600;
            line-height: 150%;
        }
    }
}
