.pricing__item {
    padding: 50px;
    border-radius: 12px;
    border: 1px solid var(--border-card-color);
    background: var(--card-bg);

    &:hover {
        margin-top: -45px;
        transition: 0.75;
        background: var(--hover-card-bg);
        cursor: pointer;
    }

    &--heading {
        margin-bottom: -15px;
    }

    &--desc {
        margin-bottom: 40px;
    }

    &--price {
        display: block;
        margin-bottom: 33px;
        color: var(--desc-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 150%;

        &__sale {
            color: var(--banner-inner-bg);
            font-size: 5rem;
            font-weight: 700;
            line-height: 87.523%;
        }
    }

    &--btn {
        display: block;
        text-align: center;
    }
}
