.pricing {

    &__choice {
        text-align: center;

        &--desc {
            margin: 14px 0 60px;
            display: block;
            color: #4c4c4d;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 150%; /* 27px */
        }
    }

    &__switch {
        &--label {
            position: relative;
            padding: 0 34px;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            border: 1px solid #dcf1a7;
            background: #fafdf2;
            width: 240px;
            height: 70px;
            user-select: none;
            cursor: pointer;
            transition: background 0.3s ease;

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                width: 110px;
                height: 75%;
                background: #234338;
                border-radius: inherit;
                transition: transform 0.3s ease;
            }

            &__value {
                position: relative;
                z-index: 1;
                color: #fff;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 150%;
                transition: color 0.3s ease;
            }
        }

        &--input:checked + &--label::before {
            width: 110px;
            left: auto;
            right: 10px;
        }

        &--input:not(:checked) + &--label &--label__value:nth-of-type(2),
        &--input:checked + &--label &--label__value:nth-of-type(1) {
            color: #4c4c4c;
        }
    }

    &--checkbox {
        display: inline-flex;
        padding: 10px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--border-card-color);
    }
}


